@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

/*Styles*/
body {
  background-image: url(/images/background.jpg);
  font-family: Roboto;
}

.subBody {
  height: 100vh;
}

header {
  width: 100vw;
  font-size: 50px;
}

form {
  background-color: rgba(0, 0, 0, 0.2);

  margin: 0 auto;
  width: 40vw;
  padding: 20px;
  margin-top: 30px;
}

form label, form span {
  font-size: 20px;
  font-weight: bold;
  color: rgb(122, 0, 0);
}

input[type=text], input[type=number], input[type=url], input[type=password] {
  width: 50%;
}
